<!-- Carousel -->
	<div class="carousel">
	    <div class="reel">
	    {% for post in site.categories.2buttons %}              
        	<article>
			<div class="image">
            	<img src="images/{{ post.img }}" alt="WEEK 8:<br />SHOW the BLEND" /></div>
 		         <header>
					<h3>{{ post.title }}:<br />{{ post.subtitle }} </h3>
				</header>
					<p>{{ post.desc }}
				<br /><br />
				
				{{ post.data }}
		    </article>
		{% endfor %}
                  
        {% for post in site.categories.1buttons %}       
            <article>
				<div class="image">
                	<img src="images/{{ post.img }}"" alt="WEEK 7:<br />BUILD the COMMUNITY" /></div>
 		         	<header>
						<h3>{{ post.title }}:<br />{{ post.subtitle }}</h3>
					</header>
					<p>{{ post.desc }}
					<br /><br />
					{{ post.data }}
		     </article>
        {% endfor %}
		</div>
	</div>