<!-- Main -->
			<div class="wrapper style2">

				<section id="features" class="container special">
					<header>
						<h2>LOCATIONS</h2>
					</header>
					<div class="row">
						
						  <article class="4u special">
						  	<header>
						    <h3>Columbia University<br />Morningside Campus</h3>
						    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3019.981414501445!2d-73.9633875!3d40.8064022!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f63c26f2f91d%3A0xd69ca52cc403a516!2s535+W+114th+St%2C+Columbia+University%2C+New+York%2C+NY+10027!5e0!3m2!1sen!2sus!4v1409240189532" width="100%" height="350" frameborder="0" style="border:0"></iframe>
						    </header>
						 </article>
						 
						  <article class="4u special">
						  	<header>
						    <h3>Columbia University<br />Medical Center</h3>
						    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12073.313593790312!2d-73.9427791!3d40.8427132!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f69bf054692d%3A0x75497f98ffdbf553!2s701+W+168th+St%2C+New+York%2C+NY+10032!5e0!3m2!1sen!2sus!4v1412174531827" width="100%" height="350" frameborder="0" style="border:0"></iframe>
						    </header>
						 </article>
						 
						  <article class="4u special">
						  	<header>
						    <h3>Jewish Theological<br />Seminary</h3>
						    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3019.7254404999467!2d-73.9605882!3d40.81202679999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f6401b1da51d%3A0x2a45d0e6dcb11c5d!2s3080+Broadway%2C+Columbia+University%2C+New+York%2C+NY+10027!5e0!3m2!1sen!2sus!4v1409240022928" width="100%" height="350" frameborder="0" style="border:0"></iframe>
						    </header>
						 </article>
						 
					</div>
				</section>

			</div>