<!-- Mission -->
			<div class="wrapper style2">
				
				<section id="features" class="container special">
				<header>
				<div class="image"><a href="http://ccnmtl.columbia.edu" target="_blank"><img src="images/logo-new-black-vertical.png" alt="" /></a></div>
				</header>
					<div class="row">
				<article class="12u special">
				<p>The Columbia Center for New Media Teaching and Learning (CCNMTL) builds education experiences for Columbia University’s faculty, staff, and students across all of Columbia’s colleges, schools, and departments — on campus and online. From our earliest days in 1999, CCNMTL has been dedicated to producing new media and developing educational technology to enhance university teaching and learning. Our productions, publications, and events aim to provide thought leadership and practical support — and promote innovation in pedagogy and curriculum development — for teachers and higher education everywhere.
</p>
				</article>
				</div>
				</section>
				
			</div>